*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 220px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    font-size: 14px;
    text-decoration: none;
    color: #777;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #3cf436;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: rotateY(-50%);
}

.content h1{
    text-align: left;
    font-size: 30px;
}

.content p{
    text-align: left;
    font-size: 22px;
}

.content img{
    height: 320px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 40%;
}

.container{
    text-align: center;
    background: #f5f5f5;
}

.header{
    padding-top: 10px;
    color: #444;
    font-size: 20px;
    margin: auto;
    line-height: 50px;
}

.sub-container{
    text-align: center;
    background: #bfb7b7;
    max-width: 2000px;
    padding-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.subs-container{
    text-align: center;
    background: #bfb7b7;
    max-width: 2000px;
    padding-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sub-info{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: rgb(163, 158, 158);
}

.sub-info h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

